*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
}
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;


}
.menu{
    display: flex;
}
.menu-item{
    margin-left: 60px;
}
ul{
   list-style-type: none;
}
li a{
    text-decoration: none;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 555px;
}
.block{

    width: 100%;
    height: 100%;
}
.b-1{
     background: url("../image/picture-1.jpg") ;
     background-size: cover;

}
.b-2{
    background: url("../image/picture-2.jpg");
    background-size: cover;

}