*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(12, 12, 10);
    font-family: 'Teko', sans-serif;
}
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;

}
.logo-name{
    font-size: 3rem;
    color: beige;
}
.menu{
    display: flex;

}
.menu-item{
    margin-left: 60px;
}
ul{
   list-style-type: none;
    font-size: 2rem;
    font-weight: 400;


}
li a{
    text-decoration: none;
    color: beige;


}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 666px;
}
.block{
    width: 100%;
    height: 100%;
    position: absolute;
}
.b-1{
     background: url("../image/picture-1.jpg") ;
     background-size: cover;

}
.b-2{
    background: url("../image/picture-2.jpg");
    background-size: cover;
    

}
.b-3{
    background: url("../image/picture-3.jpg");
    background-size: cover;
}

.title{
    margin-top: 20rem;
    text-align: center;
    font-size: 8rem;
    color:rgb(211, 212, 200);
    overflow: hidden;
    text-transform: uppercase;
}


/* styling for tickets page */
.box{
    height: 100vh;
    width: 99vw;
    display: grid;
    grid-template-columns: 1fr 500px;
    padding: 10px;
}

.sala{
    padding-top: 20rem;
}
.seats{
    display: flex;
    padding-top: 1rem;
    justify-content: center;

}

.box h1{
    text-align: center;
    color: #fff;
    padding-bottom: 3rem;
    font-size: 50px;

}

.seat{
    background-color: #fff;
    height: 30px;
    width: 30px;
    margin: 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;

}
.seat:hover{
    transform: scale(1.2);
}
.seatSelected{
    background-color: green;
}
p{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 23px;
}
.images{
    padding-top: 10rem;

}
img{
    width: 400px;
    height: 550px;
    margin: 4px;
}
button{
    background-color: rgb(223, 223, 217); 
    border: none;
    color: rgb(44, 43, 43);
    padding: 12px;
    margin:4px;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;

}
button:hover{
    transform: scale(0.9);

}
